@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Handlee&family=Moon+Dance&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Handlee&family=Moon+Dance&display=swap");
.banner {
  height: 100vh;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.logo {
  margin-left: 13%;
}
.banner .navbar {
  padding-top: 2%;
  border-bottom: rgba(136, 136, 136, 0.171) solid 1px;
}

.banner .navbar-brand {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-left: 15%;
  font-family: "Moon Dance", cursive;
}

.banner .nav {
  margin-right: 15%;
}
.banner .nav li a {
  color: #fff;
  font-size: 1.2em;
}
.banner .nav li a:hover {
  text-decoration: underline;
}
.banner .info {
  margin-top: 15%;
  transform: translateY(-15%);
}
.banner .info h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}
.banner .info p {
  font-size: 2em;
  font-weight: 500;
  color: rgb(197, 194, 194);
  letter-spacing: 2px;
}
.banner .info a {
  margin-left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: rgb(209, 3, 3);
}

.banner .info a:hover {
  text-decoration: underline;
}

/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}
ul {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  margin-right: 35%;
}

.social-links {
  margin-left: 15%;
}

.footer-col a,
i {
  color: white;
}

.name {
  width: 30%;
  margin: auto;
}
.name p {
  font-size: 2em;
  font-weight: 500;
  color: rgb(197, 194, 194);
  letter-spacing: 2px;
  text-align: left;
}

.modal {
  color: white;
}
.modal-body,
.modal-content {
  background-color: rgba(60, 61, 60, 0.521);
  border: solid 1px;
  border-bottom: white;
  border-bottom: solid 1px;
}
.modal-button {
  color: white;
  background-color: green;
  width: 100%;
}

.fa-instagram,
.fa-twitter {
  padding-left: 30px;
}
.fa-facebook {
  padding-left: 0px;
  text-align: left;
}

.fa-facebook:hover {
  color: blue;
}
.fa-instagram:hover {
  color: rgb(250, 20, 70);
}
.fa-twitter:hover {
  color: rgb(44, 170, 243);
}
